*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
.menu-list{
    list-style: none;
    display: flex;
    gap: 10px;
}
.menu-btn{
    margin-bottom: 10px;
    padding: 7px 5px;
    border: 1px solid white;
    background-color:black;
    color: white;
    border-radius: 5px;
    cursor: pointer;  
}
#searchInput{
    padding: 4px 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.title{
    text-align: center;
    margin-bottom: 20px;
}
.watch-list-btn-hide{
    display: none;
}
.movies-colection-wrapper{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 15px;
    padding: 0 5px;
}
.show-about-movie{
    grid-template-columns: repeat(1 , 1fr);
}
.movie-card{
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}
.movie-card h3{
    height: 30px;
    margin-bottom: 30px;
}
.movie-card p {
    margin-bottom: 20px;
}
.movie-card-btn{
    margin-bottom: 10px;
    display: block;
    width: 160px;
    padding: 7px 5px;
    border: 1px solid white;
    background-color:black;
    color: white;
    border-radius: 5px;
    cursor: pointer;  
}
.movie-card-btn:hover{
    background-color: rgba(0, 0, 0, 0.692);
}
.movie-card-btn:focus{
    background-color: black;
}

.movie-card-inf-box{
    padding-top: 20px;
    padding-left: 20px;
}
.movie-card-img-box{
    max-width: 200px;
    padding: 10px;
}
.movie-card-img-box img{
    width: 100%;
    border-radius: 4px;
}
.watch-list{
    list-style: none;
}
.watch-list-item{
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
    
}
.watch-list-item .movie-card-btn{
    margin-bottom: 0;
}
