*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.movies-colection-wrapper{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 15px;
}
.show-about-movie{
    display: block;
}
.movie-card{
    display: flex;
    border: 1px solid rgba(0, 0, 255, 0.514);
    border-radius: 3px;
    padding: 5px;
    flex-direction: column;
    align-items: center;
}
.movie-card-inf-box{
    padding-top: 20px;
    padding-left: 20px;
}
.movie-card-img-box{
    max-width: 400px;
    padding: 10px;
}
.movie-card-img-box img{
    width: 100%;
    border-radius: 4px;
}
